@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 48px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  :root {
    font-size: 14px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}
