@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 48px; 
  box-sizing: border-box;
}

@media (max-width: 767px) {
  :root {
    font-size: 14px;
  }
}

.transform-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
